<p id="notice"><%= notice %></p>

<p>
  <b>Task List Name:</b>
  <%= @tasklist.tlname %>
</p>

<p>
  <b>Task List Description:</b>
  <%= @tasklist.tldescription %>
</p>

<p>
  <b>User:</b>
  <%= @tasklist.user_id %>
</p>


<%= link_to 'Edit', edit_tasklist_path(@tasklist) %> |
<%= link_to 'See completed tasks', list_tasks_path(@tasklist.id, "done") %> |
<%= link_to 'See not completed tasks', list_tasks_path(@tasklist.id, "open") %> |
<%= link_to 'See all tasks', list_tasks_path(@tasklist.id, "all") %> |
<%= link_to 'Back', tasklists_path %>
