<%= form_for([@project, @sharing_project]) do |f| %>
  <% if @sharing_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sharing_project.errors.count, "error") %> prohibited this sharing_project from being saved:</h2>

      <ul>
      <% @sharing_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "User e-mail" %><br />
    <%= f.email_field :user_email %>
  </div>
  <div class="actions">
    <%= f.submit "Share the project" %>
  </div>
<% end %>
