<h1>Listing sharing_projects</h1>

<table>
  <tr>
    <th>User</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sharing_projects.each do |sharing_project| %>
  <tr>
    <td><%= sharing_project.user_id %></td>
    <td><%= sharing_project.project_id %></td>
    <td><%= link_to 'Show', sharing_project %></td>
    <td><%= link_to 'Edit', edit_sharing_project_path(sharing_project) %></td>
    <td><%= link_to 'Destroy', sharing_project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sharing project', new_sharing_project_path %>
