%h1 List of tasks
%ul#tasks_list
  - @tasks.each do |task|
    %li
      = link_to task.tname, edit_project_tasklist_task_path(@project, @tasklist, task)
      %p= truncate task.tdescription, :length => 100
      - if task.user.nil? then
        %h6= "The task is not assigned for anybody to perform"
      -else
        %h6= "The task is assigned for #{task.user.username} to perform"

