<p id="notice"><%= notice %></p>

<p>
  <b>Tname:</b>
  <%= @task.tname %>
</p>

<p>
  <b>Tdescription:</b>
  <%= @task.tdescription %>
</p>

<p>
  <b>Tpriority:</b>
  <%= @task.tpriority %>
</p>

<p>
  <b>Tstate:</b>
  <%= @task.tstate %>
</p>

<p>
  <b>Tasklist:</b>
  <%= @task.tasklist_id %>
</p>

<p>
  <b>User:</b>
  <%= @task.user_id %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
