</br>
<div class = "projects_list">
  <li>
    <strong><%= @project.name %></strong>
    <p><%= truncate @project.description, :length => 100 %></p>
    <%= link_to 'Share', new_project_sharing_project_path( @project ) %>
  </li>
</div>

</br>
<ul class = "tasklists_list">
  <% @project.tasklists.each do |tasklist| %>
      <li>
        <strong><%= tasklist.tlname %></strong>
        <p><%= truncate tasklist.tldescription, :length => 100 %></p>
        <%= link_to 'Show list of tasks', users_tasklist_path(@user, tasklist) %> |
        <%= link_to 'Edit', edit_tasklist_path(tasklist, :project_id => @project.id) %> |
        <%= link_to 'Destroy', tasklist, confirm: 'Are you sure?', method: :delete %>

      </li>
  <% end %>

</ul>
