</br>
<div class = "projects_list">
  <li>
    <strong><%= @project.name %></strong>
    <p><%= @project.description %></p>
  </li>
</div>

</br>
<ul class = "tasklists_list">
  <% @project.tasklists.each do |tasklist| %>
      <li>
        <strong><%= tasklist.tlname %></strong>
        <p><%= truncate tasklist.tldescription, :length => 100 %></p>
        <%= link_to 'Show lists of tasks', @project %> |
        <%= link_to 'Edit', edit_tasklist_path(tasklist) %> |
        <%= link_to 'Destroy', tasklist, confirm: 'Are you sure?', method: :delete %>
      </li>
  <% end %>

</ul>