<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= "#{@user.fname} #{@user.lname}" %>
      </h1>
      </br>

      <%= if !params[:task_id].nil?
            render 'task'
          elsif !params[:tasklist_id].nil?
            render 'tasklist'
          elsif !params[:project_id].nil?
            render 'project_view'
          else
            render 'projects_list'
          end
      %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= "#{@user.fname} #{@user.lname}" %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <!--strong>Microposts</strong--> <!--%= @user.microposts.count %-->
      <!--%= render 'shared/stats' %-->
      <%= if !params[:tasklist_id].nil?
            link_to 'Create new task', new_task_path(:tasklist_id => @tasklist.id)
          elsif !params[:project_id].nil?
            link_to 'Create new tasklist', new_tasklist_path(:project_id => @project.id)
          else
            link_to 'Create new project', new_project_path
          end
      %>
	  <% if !@user.projects.empty? %>
	  </br>
	  Your projects
	  <ul>
          <% @user.projects.each do |p| %>
	   <li> <%= link_to p.name, users_project_path(@user,:project_id => p.id) %> </li>
	  <% end %>
	  </ul>
	<% end %>
    </td>
  </tr>
</table>
