#projects_list
  .proj
    %strong= @project.name
    %p= truncate @project.description, :length => 100
    = link_to 'Show tasklists', tasklists_path(:project_id => @project.id)
    |
    = link_to 'Edit', edit_project_path(@project)
    |
    = link_to 'Destroy', @project, confirm: 'Are you sure?', method: :delete
%h1
  Tasks to do
- if @user.tasks_todo.empty? then
  %p You are happy person. You don't have any tasks assigned for you to perform in current project.
- else
  %ul
  - @user.tasks_todo_in_project(@project).each do |t|
    %li
      %p= t.tname
