#projects_list
  .proj
    %h1= @project.name
    %h6
      = "Complited by #{@project.stat} %. "
      - if @project.stat != 100.0
        - Task::TASK_STATES.each do |s|
          = "#{@project.tasks.status(s).count}  #{s.to_s}"
    %p= @project.description
    = link_to 'Show tasklists', project_tasklists_path(@project)
    |
    = link_to 'Edit', edit_project_path(@project)
    |
    = link_to 'Share', new_project_sharing_project_path(@project)
%h1 Tasks to do
- if @project.tasks.on_user(@user.id).empty? then
  %p You are happy person. You don't have any tasks assigned for you to perform in current project.
- else
  - Task::TASK_STATES.each do |s|
    - if @project.tasks.on_user(@user.id).status(s).count != 0
      %h2= "Tasks in #{s.to_s} status"
      %ul
      - @project.tasks.on_user(@user.id).status(s.to_s).each do |t|
        %li
          - tl = Tasklist.find(t)
          = link_to t.tname, edit_project_tasklist_task_path(@project, tl, t)