!!! 5
%html
  %head
    %title= "To-Do list" if @title.nil?
    = csrf_meta_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
  %body
    #main
      = render :partial => "layouts/header"
      %section.round
        - flash.each do |key, value|
          .flash{:class => "flash #{key}"}= value
      #site_content
        = if !current_user.nil?
          #sidebar_container
            .sidebar
              %h3
                Your projects
                %ul
                  - current_user.projects.each do |p|
                    %li
                      %a{:href => "#{project_path(p.id)}"}= p.name
            .sidebar
              %h3
                You are involved into
                %ul
                  - current_user.involved_into.each do |p|
                    %li
                      %a{:href => "#{project_path(p.id)}"}= p.name
        #content
          = yield
      %div#scroll
        %a.top{:title => "Scroll to the top", :href => "#"}
          %img{:src => "#{asset_path('top.png')}", :alt => "top"}
      %footer

//    %script{:type => "text/javascript", :src => "js/jquery.js"}
//    %script{:type => "text/javascript", :src => "js/jquery.easing-sooper.js"}
//    %script{:type => "text/javascript", :src => "js/jquery.sooperfish.js"}
//    %script{:type => "text/javascript"} "$(document).ready(function() {$('ul.sf-menu').sooperfish();$('.top').click(function() {$('html, body').animate({scrollTop:0}, 'fast'); return false;});});"
